@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif !important;
}

body {
  min-height: 100vh;
  margin: 0;
  color: #484a4b;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

[role="button"],
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
li,
a {
  cursor: pointer;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.w-full {
  width: 100%;
}
